<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body>
	<%- partial('_partial/header') %>
	<div class="main-container">
    	<%- body %>
	</div>
	<!--commemt layout-->
	<%- partial('_partial/comment') %>

	<!--footer layout-->
	<%- partial('_partial/footer') %>
	
	<!--comment js-->
	<%- partial('_scripts/comment') %>
</body>
</html>